<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripfellows.authorization">

    <application
        android:supportsRtl="true"
        android:label="auth"
        android:theme="@style/DefaultTheme">

        <activity android:name=".AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>