<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripfellows.authorization">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationModified"
        android:supportsRtl="true"
        android:icon="@mipmap/alpa_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".AuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="10.0.2.2"
                    android:port="8080"
                    android:pathPrefix="/api/trip/" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJVA5RXMl1LVQsOGs6hef7ca6vZIMFWC8">
        </meta-data>
    </application>

</manifest>